:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: peachpuff;
  color: #424242;
  padding: 30px;
}
.search-field {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 10px;
  font-size: 20px;
  margin-right: 20px;
  width: 300px;
  display: inline-block;
  margin-bottom: 30px;
}
.btn {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: orange;

  font-size: 20px;
}
.gallery {
  padding: 0;
}
.img-thumb {
  width: 300px;
  height: 204px;
  display: flex;
}
.photo-card {
  height: 252px;
}
.photo-card__img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  display: block;
}

.gallery__item {
  width: 1200px;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
}
.photo-card {
  width: 350px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.stats {
  display: flex;
  flex-wrap: wrap;
}
.stats-item {
  margin-right: 15px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.material-icons {
  margin-right: 4px;
}
.notify {
  background-color: orangered;
  font-size: 30px;
  color: white;
  border-radius: 4px;
}
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}
